<!--
<ons-page>
  <div class="row">
    <div class="col-xs-8">
      <span name="projectName">러버덕 2017</span>
      <div class="col-xs-5">UX/UI</div>
      <div class="col-xs-7">52 구매됨</div>
    </div>
    <div class="col-xs-4">
      <i class="fa-user"></i>
    </div>
  </div>



</ons-page>
-->
<!--<ons-toolbar class="toolbar">
  <div class="toolbar__left">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>test</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>test2</span>
      </button>
    </mat-menu>
  </div>
  <div class="center">Design Duck</div>
  <div class="toolbar__right">
  </div>
</ons-toolbar>-->
<ons-row>
  <p><br></p>
</ons-row>
<ons-row>
  <p><br></p>
</ons-row>

<ons-row style="position: fixed;">

  <ons-row>

    <ons-col>
      <span><p class="text-center">러버덕 2017</p></span>
      <span><p class="text-center"><span> UX/UI</span> <span class="pull-right"> 52 구매됨</span></p></span>
    </ons-col>

    <ons-col>
      <a [routerLink]="['/designerDetail', id]" routerLinkActive="active">

        <span><p class="text-center">오예린</p></span>

        <span><p class="text-center">UX/UI</p></span>

      </a>

    </ons-col>

  </ons-row>

  <ons-row style="background-color: white;">
    <ons-col>
      <p class="text-center">구매하기</p>

    </ons-col>
    <ons-col>
      <p class="text-center">관심</p>


    </ons-col>


  </ons-row>
</ons-row>



